method: grid
metric:
  goal: maximize
  name: val/oacc
parameters:
  algo:
    value: FOND  # REGULAR FOND, not distillation!
  checkpoint_freq:
    value: 100
  data_dir:
    value: ./data
  dataset:
    value: PACS
  holdout_fraction:
    value: 0.2
  hparam_id:
    values:
      - 0
  log_dir:
    value: ./logs
  model_checkpoint:
    value:
      maximize: true
      metric: val/oacc
  n_steps:
    value: 500
  num_classes:
    value: 7
  num_domain_linked_classes:
    value: 3
  num_workers:
    value: 2
  overall_seed:
    value: 1
  overlap:
    values:
      - high
  teacher_paths:
    value: {}  # Empty for regular FOND
  test_set_id:
    values:
      - 0
  trial_id:
    values:
      - 0

